body {
  background: #eee;
  font-family: sans-serif;

}


.card {
  width: 400px;
  background: #fff;
  padding: 10px;
  margin: 100px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 5px;
}

.content {
  background: #e3f4ff;
  margin: 10px 0;
  padding: 15px 5px;

}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid #eee;

}